* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
display: none;
}
body {
  background: rgb(67,67,67);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgb(0, 0, 0);
  padding: 0 40px;
  margin-bottom: 20px;
}
header h1 {
  color: rgb(202,0,0);
}
input {
  width: 200px;
}
.films h4 {
  display: inline;
}
.films {
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin-bottom: 40px;
  margin-left: 40px;
  width: 340px;
  height: 510px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #ffff;
}
.card img {
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}
.card:hover img {
  opacity: 0;
}
.details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0 0 10px;
  height: 100%;
  color: #ffff;
  overflow-y: scroll;
  transition: opacity 1s;
}
.card:hover .details {
  opacity: 1;
}
.details img {
  width: 15px;
}
.details .fa-star {
  color: rgb(255,189,0);
}
